include ../components/head/head
include ../components/forms/datepicker/index
include ../components/forms/select/index
include ../components/forms/filter/index
include ../components/footer/index
include ../components/header/index

mixin title(data)
    h2.page-title #{data.text}


mixin button(data)
    button(class=data.class type=data.type) #{data.text}


doctype html
html(lang="ru")
    +head({ "title": "Акт сверки", "description": "Акт сверки" })
        link(rel="stylesheet" href="styles/act-page.css")
        link(rel="stylesheet" href="libs/flatpickr/dist/flatpickr.min.css")
    body.act-page.content-pages
        +header()
        main
            +title({text: "Акт сверки"})
            form.get-act__form.page-content__container
                article.m-accordion__container
                    header
                        +select({
                            required: true,
                            options: [
                                {value: 1, label: '2019', selected : true},
                                {value: 2, label: '2018'},
                                {value: 3, label: '2017'}
                            ]
                        })
                    main-section.filters__container
                        +filter({
                            flags: { asButtons: true },
                            labels: [
                                {type: "radio", name: "date", value: "1p", label: '1 полугодие'},
                                {type: "radio", name: "date", value: "2p", label: '2 полугодие'},
                            ],
                        })
                        +filter({
                            flags: { asButtons: true },
                            labels: [
                                {type: "radio", name: "date", value: "1k", label: '1 квартал'},
                                {type: "radio", name: "date", value: "2k", label: '2 квартал'},
                                {type: "radio", name: "date", value: "3k", label: '3 квартал'},
                                {type: "radio", name: "date", value: "4k", label: '4 квартал'},
                            ]
                        })
                        +filter({
                            flags: { asButtons: true },
                            labels: [
                                {type: "radio", name: "date", value: "1m", label: 'Январь'},
                                {type: "radio", name: "date", value: "2m", label: 'Февраль'},
                                {type: "radio", name: "date", value: "3m", label: 'Март'},
                                {type: "radio", name: "date", value: "4m", label: 'Апрель'},
                                {type: "radio", name: "date", value: "5m", label: 'Май'},
                                {type: "radio", name: "date", value: "6m", label: 'Июнь'},
                                {type: "radio", name: "date", value: "7m", label: 'Июль'},
                                {type: "radio", name: "date", value: "8m", label: 'Август'},
                                {type: "radio", name: "date", value: "9m", label: 'Сентябрь'},
                                {type: "radio", name: "date", value: "10m", label: 'Октябрь'},
                                {type: "radio", name: "date", value: "11m", label: 'Ноябрь'},
                                {type: "radio", name: "date", value: "12m", label: 'Декабрь'},
                            ]
                        })
                .date__container
                    +datePicker({ name: 'date-start', title: 'Период от' })
                    +datePicker({ name: 'date-end', title: 'до' })
                +button({"class": "orange-button", "text": "Скачать акт"})
        +footer()
        script(src="js/components/header/index.js" defer)
        script(src="js/components/accordion/index.js" defer)
        script(src="libs/flatpickr/dist/flatpickr.js" defer)
        script(src="js/components/act-page/index.js" defer)

