include ../components/head/head
include ../components/footer/index
include ../components/forms/input/index
include ../components/forms/select/index
include ../components/forms/button/index
include ../components/content/information-block/index
include ../components/content/link/index

doctype html
html(lang="ru")
    +head({ "title": "Главная", "description": "Главная страница" })
        link(rel="stylesheet" href="styles/login-page.css")
    body.login-page
        header
            a.header-logo(href="#")
        main
            section.section-with-information
                .block-with-form
                    input#toggle-form(type="checkbox" style="display:none")
                    form.login-form(novalidate)
                        h3 Вход
                        +input({ name: 'login', placeholder: "Логин" })
                        +input({
                            name: 'password',
                            "placeholder": "Пароль",
                            type: "password",
                            classes: {container: 'input-password'},
                            children: {wrapper: "button onclick=showPassword(this) type=button"}
                        })
                        +button({"class": "orange-button", "type": "submit", "text": "Войти"})
                        p Ещё нет корпоративного аккаунта?
                    form.registration-form
                        h3 Заявка на регистрацию
                        +input({type: "text", placeholder: "ФИО", required: true, classes: {container: 'required'},} )
                        +input({placeholder: "Телефон", required: true, classes: {container: 'required'},})
                        +input({type: "email", placeholder: "Email", required: true, classes: {container: 'required'},})
                        +input({type: "name", placeholder: "Компания", required: true, classes: {container: 'required'},})
                        +input({placeholder: "ИНН", required: true, classes: {container: 'required'},})
                        +select({
                            placeholder: "Город",
                            required: true,
                            options: [
                                {value: 1, label: 'Нижний Новгород'},
                                {value: 2, label: 'Казань'},
                                {value: 3, label: 'Набережные Челны'}
                            ]
                        })
                        +button({"class": "orange-button", "type": "submit", "text": "Отправить заявку"})
                        p Есть корпоративный аккаунт?
                    label(for="toggle-form")
                        span.span-send Отправить заявку
                        span.span-login Войти
                +information-block({ class: "about-portal" })
                    h3 В2В портал
                    p Мы ведём работу исключительно с юридическими лицами. Чтобы оформить заказ, пожалуйста, введите необходимые данные.
                    +link({class: 'with-video', 'data-text': 'Смотреть видео о возможностях портала'}) Смотреть видео о возможностях портала
                +information-block({ class: 'information-item' })
                    h4.item-title--24-hours Сервис 24/7
                    p Мы одни из немногих компаний в регионе, имеющих собственную сервисную службу
                +information-block({ class: 'information-item' })
                    h4.item-title--delivery Отгрузка 24/7
                    p Мы одни из немногих компаний в регионе, имеющих собственную сервисную службу
        +footer
        script(src="js/components/login-page/login-page.js" defer)