.login-page {
  background-color: $colorBlueDark;
  color: $colorWhite;
  padding-top: 49px;
  padding-bottom: 60px;

  @media(--min-tablet) {
    padding-top: $margin-big-desktop-vertical;
  }

  h1, h2, h3, p, a {
    font-family: 'Montserrat', sans-serif;
  }

  & > header, & > main, & > footer {
    padding: 0 $margin-1;
  }

  & > header {
    margin-bottom: 26px;

    .header-logo {
      display: block;
      width: 220px;
      height: 60px;
      background-image: url("../img/svg/logo-img.svg");
    }
  }

  & > main {
    display: flex;
    justify-content: center;
    align-items: center;

    & + footer {
      margin-top: 39px;
    }
  }

  & > footer {
    font-family: "Open Sans", sans-serif;
    font-weight: $FontRegular;
    font-size: $size-14;
    line-height: 16px;
    color: $colorWhiteOpacity2;
  }

  .orange-button {
    margin-top: 31px;

    & + p {
      margin-top: 32px;
    }
  }
}


/*----------------- LAYOUT: START*/
.login-page {
  .section-with-information {
    grid-template-columns: minmax(0, 327px);
    justify-content: center;
    @media (--min-tablet) {
      grid-template-columns: 320px repeat(auto-fit, 280px);
    }
  }

  & > header,
  .section-with-information,
  & > footer {
    display: grid;
    grid-gap: $margin-1;

    @media (--min-tablet) {
      grid-template-columns: 320px repeat(auto-fit, 280px);
      grid-gap: 40px;
    }
  }

  & > header,
  & > footer {
    justify-content: center;

    @media (--min-tablet) {
      grid-template-columns: 320px repeat(1, 280px);
    }
    @media (--min-desktop) {
      grid-template-columns: 320px repeat(2, 280px);
    }
  }

  .block-with-form {
    @media (--min-desktop) {
      grid-row: span 3;
      align-self: flex-start;
    }
  }

  .about-portal {
    @media (--min-desktop) {
      grid-row: span 2;
    }
  }

  .information-item {
    @media (--min-desktop) {
      grid-column: 3;
      grid-row: span 1;
    }
  }
}
/*----------------- LAYOUT: END*/


/*----------------- FORMS: START*/
.login-page {
  .block-with-form {
    background-color: $colorWhite;
    padding-left: $margin-1;
    padding-top: 35px;
    padding-right: $margin-1;
    padding-bottom: $margin-1;
    width: 100%;

    @media(--min-tablet) {
      max-width: 320px;
    }

    .span-login, .span-send {
      display: block;
      color: $colorBlue;
      font-family: "Open Sans", sans-serif;
      font-weight: $FontRegular;
      font-size: $size-12;
      line-height: 26px;
      text-align: center;
      cursor: pointer;
    }
  }

  .login-form, .registration-form {
    & > h3, & > p {
      color: $colorDark;
    }

    & > h3 {
      font-size: $size-22;
      line-height: 28px;
      font-weight: $FontBold;
      margin-bottom: 21px;
    }

    & > p {
      font-family: "Open Sans", sans-serif;
      font-weight: $FontRegular;
      font-size: $size-12;
      text-align: center;
    }
  }

  .registration-form {
    display: flex;
    flex-direction: column;
  }

  .login-form {
    & > h3 {
      @media(--max-tablet) {
        text-align: center;
      }
    }

    .m-input__wrapper > input.invalid {
      border-color: $colorRed;
    }
  }

  #toggle-form:not(:checked) ~ form.registration-form,
  #toggle-form:checked ~ form.login-form,
  #toggle-form:checked ~ label > .span-send,
  #toggle-form:not(:checked) ~ label > .span-login {
    display: none;
  }
}

/*----------------- FORMS: END*/


/*----------------- INFORMATION BLOCKS: START*/
.login-page {
  .information-block, .about-portal {
    background-color: $colorBlue;

    & > h4 {
      color: $colorWhiteOpacity1;
    }
  }

  .information-item {
    .item-title--24-hours {
      background-image: url("../img/svg/24-hours.svg");
      padding-left: 62px;
    }

    .item-title--delivery {
      background-image: url("../img/svg/service.svg");
      padding-left: 71px;
      background-position: left top 3px;
    }
  }
}

/*----------------- INFORMATION BLOCKS: END*/



