mixin pagination()
    .pagination
        .prev-page-button
            a(href="#") Назад
        ul
            li
                a(href="#") 1
            li
                a(href="#") 3
            li
                a(href="#") 4
            li
                a(href="#") 5
            li.active
                a(href="#") 6
            li
                a(href="#") 7
            li
                a(href="#") 8
            li
                a(href="#") 9
            li
                a(href="#") 12
        .next-page-button
            a(href="#") Вперед