mixin head(data)
  title= data.title
  meta(charset="utf-8") 
  meta(content=data.description name="description")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="HandheldFriendly" content="true")
  meta(name="format-detection", content="telephone=no")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")

  //- шрифты
  link(href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet")
  //link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="styles/fonts/pt-sans-regular.woff2")
  //link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="styles/fonts/pt-sans-700.woff2")
  //link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="styles/fonts/pt-sans-italic.woff2")
  //link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="styles/fonts/pt-sans-700-italic.woff2")

  //- favicon
  //link(href="img/favicons/favicon.ico" rel="shortcut icon")
  //link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
  //link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
  //link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png")
  //link(rel="manifest", href="img/favicons/manifest.json")
  //link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="theme-color", content="#ffffff")

  //- модули
  //link(href="libs/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet")
  //link(href="libs/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet")
  //link(href='libs/lightslider/dist/css/lightslider.min.css' rel='stylesheet')
  //link(href='libs/jquery-ui-slider/jquery-ui.min.css' rel='stylesheet')

  //- основные стили
  //link(rel="stylesheet" href="styles/styles.css")

  //- фоновые изображения   
  //link(rel="stylesheet" href="styles/img.css")