body {
  font-family: "Open Sans", sans-serif;
  //font-family: $PTSans;
  font-weight: $FontRegular;
  color: $colorBlue2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  justify-content: space-between;
  //background: var(--color-fon);


  & > main {
    flex: 1 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*min-height: 100vh;*/
  }
}
input, textarea{
  transition: border-color 0.2s;
}

.block-html {
  overflow-y: hidden !important;
}


*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

a, button {
  cursor: pointer;
}

button:hover, button:focus {
  outline: none;
}

a {
  color: inherit;
}

details > summary::-webkit-details-marker {
  display: none;
}

@media (--min-tablet) {
  .mobile-hide {
    display: none;
  }
}

@media (--min-tablet) {
  .tablet-hide {
    display: none;
  }
}

@media (--min-desktop) {
  .desktop-hide {
    display: none;
  }
}

@media (--min-big-desktop) {
  .big-desktop-hide {
    display: none;
  }
}


/*---COMMON CONTENT STYLES---*/
.content-pages {
  background-color: $colorBlueLight;

  & > main {
    padding: var(--horizontal-paddings);

    @media(--min-tablet) {
      --horizontal-paddings: $margin-3;

    }
    @media(--min-desktop) {
      max-width: 69.1186vw;
      min-height: 920px;
    }
    @media(--desktop) {

      margin-right: 2.5vw;
    }
    @media (--min-big-desktop) {
      max-width: 69.1186vw;
      margin-right: 4.5vw;
    }

  }
}

.page-title {
  color: $colorBlue2;
  font-family: 'Montserrat', sans-serif;
  font-weight: $FontBold;

  & + .page-content__container {
    @media(--max-tablet) {
      margin-top: 18px;
    }

    @media(--min-tablet) {
      margin-top: 31px;
    }
  }

  @media(--max-tablet) {
    font-size: $size-20;
    line-height: 28px;
  }

  @media(--min-tablet) {
    font-size: $size-30;
    line-height: 40px;
  }
}

.page-content__container {
  background-color: $colorWhite;
  box-shadow: 0px 3px 8px hsla(210, 100%, 24%, 0.05);
  @media(--min-tablet) {
    /* padding: $margin-2;*/
    padding: 20px;
  }
  @media(--max-tablet) {
    padding: $margin-1;
  }
  @media(--max-desktop) {
    width: 100%;
  }

  @media(--min-desktop) {
    max-width: 860px;
  }
}

/*---FOOTER*/
.content-pages > footer {
  font-weight: $FontRegular;
  font-size: $size-13;
  line-height: 16px;
  color: $colorBlue2;
  @media(--max-desktop) {
    margin: 24px auto;
  }

  @media(--desktop) {
    margin: 38px 4.5vw 58px 4.5vw;
  }
  @media(--min-big-desktop) {
    margin: 38px 7.354vw 58px 7.354vw;
  }
}

/*---END FOOTER*/


/*---BUTTONS---*/
.orange-button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 93%, 48%);
  border: none;
  transition: box-shadow 0.3s;

  @media(--min-tablet) {
    &:hover {
      box-shadow: 0 10px 12px rgba(236, 102, 8, 0.39);
    }
  }
}

.white-button {
  color: hsl(211, 99%, 69%);
  background-color: #fff;
  border: 1px solid hsl(213, 8%, 86%);
}

.exit-button {
  display: flex;
  width: max-content;
  background-color: $colorWhite;
  font-weight: $FontDemi;
  color: $colorBlue2;
  font-size: $size-13;
  align-items: center;
  border: none;

  &::before {
    content: "";
    display: block;
    background-image: url("../img/svg/exit-icon.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-position: center;

  }
  &:hover{
    &::before{

        background-image: url("../img/svg/dark-gray-exit-icon.svg");

    }
  }

  @media(min-width: 549px) and (max-width: 1023px) {
    max-width: 320px;
  }
  @media(--max-desktop) {
    border: 1px solid $colorLightGray;
    padding: 18px;
    border-radius: 4px;
    justify-content: center;
  }
}

.orange-button, .white-button {
  font-family: "Open Sans";
  font-weight: 600;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.radio-button {
  cursor: pointer;
  display: flex;
  color: $colorBlue2;
  align-items: center;

  &::before {
    content: "";
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $colorLightGray;
    background-color: $colorLightGray2;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &.active-label {
    &:before {
      border: 3px solid $colorLightGray2;
      background-color: $colorBlue;
      transition: background-color .3s ease-out;
    }
  }

  & + .radio-button {
    margin-top: 14px;
  }
}

.block-with-filters.asCheckbox {


  display: flex;
  flex-wrap: wrap;


  &.vertical-blocks {
    display: block;


    @media(max-width: 499px) {
      column-count: 1;
    }
    @media(min-width: 500px) and (max-width: 1359px) {
      column-count: 2;
    }
    @media(--min-big-desktop) {
      column-count: 3;

    }
  }

  .m-filter__container {
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 17px;
    padding-top: 5px;

    & > input {
      display: none;
    }

    & > label {
      display: block;
      border: 1px solid $colorLightGray;
      background-color: $colorLightGray2;
      min-width: 16px;
      min-height: 16px;
      cursor: pointer;

      & + p {
        margin-left: 8px;
      }
    }

    & > p {
      display: block;
      font-family: "Open Sans";
      font-weight: $FontDemi;
      font-size: $size-13;
      line-height: 20px;
      color: $colorBlue2Opacity;

    }

    & > input:checked + label {
      background-image: url("../img/svg/checked-checkbox.svg");
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: center;

    }

  }

}

/*---END BUTTONS---*/

/*---LINK---*/
.about-portal {
  display: flex;
  flex-direction: column;
  padding-top: $size-38;
  padding-bottom: 33px;

  & > p {
    font-family: "Open Sans", sans-serif;
    font-weight: $FontRegular;
    font-size: $size-14;
    line-height: 24px;
    color: $colorWhiteOpacity1;
  }

  /*LINK*/

  .link {
    @media (--max-tablet) {
      margin-top: 48px;
    }
    @media (--min-tablet) {
      margin-top: auto;
    }
  }

  & + .container-with-information-item {
    margin-top: $margin-1;
  }
}

/*---END LINK---*/

/*---TABLE---*/
.m-table {
  width: 100%;
  @media(--max-tablet) {
    /*    width: 100%;*/
    display: block;
  }
  /*  @media(--min-desktop) {
      min-width: calc(100% - 40px);
    }*/
  font-family: "Open Sans", sans-serif;
  font-weight: $FontDemi;
  color: $colorBlue2;
  text-align: left;
  padding-top: 15px;

  & > thead {
    font-weight: $FontBold;
    font-size: $size-12;
    border-bottom: 2px solid $colorBlue3Opacity;

    th {
      padding-bottom: 15px;
    }
  }

  tr {
    border-bottom: 1px solid $colorLightGray;

    & td {
      padding-top: 25px;
      padding-bottom: 10px;
      padding-right: 20px;

      & > span {
        display: block;

        &.article {

          color: $colorGray;
        }
      }
    }

    .image-td {
      & > div {
        transition: background 0.3s;
      }
    }
  }
}

.table-with-scroll {
  @media(--big-desktop) {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
}

/*---END TABLE---*/


/*---DATEPICKER: START---*/
.date__container {
  display: flex;
  @media(max-width: 374px) {
    flex-direction: column;
  }


}

.m-datepicker__container {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-weight: $FontDemi;
  font-size: 13px;
  line-height: 20px;
  color: $colorBlue2;

  & > legend {
    margin-right: 10px;

    @media(--max-mobile) {
      margin-bottom: 10px;

    }
  }

  & + & {
    margin-left: 12px;
    @media (max-width: 374px) {
      margin-left: 0px;
      margin-top: 10px;
    }
  }

  @media(--max-mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.m-datepicker__container .flatpickr-input {
  width: 128px;
  padding: 10px;
  border: 1px solid $colorLightGray;
  border-radius: 4px;
  background-image: url("../img/svg/datepicker.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-color: transparent;
  padding: 10px 5px;
}

/*---DATEPICKER: END---*/


/*---BALANCE-BLOCK---*/
.balance__block {
  .balance__block-cost {
    display: flex;
    align-items: center;
  }
}

.rub {
  background-image: url("../img/svg/rub-icon.svg");
  width: 10px;
  height: 14px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
}

/*--END BALANCE-BLOCK*/

/*---ACCORDION---*/
.accordion-title {
  cursor: pointer;
}

/*---END ACCORDION---*/

/*---PAGINATION---*/
.pagination {
  display: flex;
  margin-top: 16px;

  li a {
    color: $colorBlue2;
    padding: 8px 11px;
    border: 1px solid $colorLightGray;
    border-radius: 2px;
    font-size: 13px;
    line-height: 16px;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      border-color: $colorBlue;
    }

    /*  & + a {
        margin-left: 8px;
      }*/
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
  grid-gap: 8px;

  ul {
    display: contents;
  }

  li {
    display: contents;

    &.active > a {
      border: 1px solid $colorBlue;
    }

  }

  li > a, li::before, li::after, .prev-page-button > a, .next-page-button > a {
    border-radius: 2px;
    border: 1px solid $colorLightGray;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (--max-tablet) {
    justify-content: center;
    ul {
      justify-content: center;
    }
  }
  @media(--big-desktop) {
    li, li.prev-page::before,
    .active + li::after {
      display: none;
    }

    li:first-child,
    li:last-child,
    li.prev-page,
    li.active,
    li.active + li {
      display: contents;
    }

    .prev-page::before,
    .active + li::after {
      content: "...";
    }

    li.active + li,
    .prev-page {
      display: contents;
    }

    li:nth-child(n + 2) ~ .prev-page::before,
    li:nth-last-child(n + 3)::after {
      display: flex;
    }

    .prev-page-button, .next-page-button {

      display: none;

    }
  }
  @media(--min-big-desktop) {


    ul li {
      display: contents;
    }

    li:nth-last-child(2):not(.active), li:nth-last-child(2):not(.next-page) {
      &::after {
        content: "...";
      }
    }

    li:first-of-type + li:not(.prev-page), li:first-of-type + li:not(.active) {
      &::before {
        content: "...";

      }
    }
  }
}


/*---END PAGINATION---*/
