
label.show-header-menu {
  @media(--max-desktop) {
    position: absolute;
    left: 12px;
    top: 21px;
    order: 1;
    z-index: 2;
    background-image: url("../img/svg/menu-icon-mobile.svg");
    min-width: 24px;
    min-height: 24px;
  }
  @media(--min-desktop) {
    display: none;
  }
}

body > header {
  display: contents;
  font-family: "Open Sans", sans-serif;
  font-weight: $FontRegular;
  font-size: $size-13;
  color: $colorBlue2;

  .header-top, .header-middle {
    @media(--desktop) {
      padding: 16px 4.5vw;
    }
    @media(--min-big-desktop) {
      padding: 16px 7.354vw;
    }
  }

  .header-top {
    line-height: 20;
    @media(--max-desktop) {
      order: 3;
      flex-direction: column;
      padding-top: 26px;
      width: 100%;
    }
    @media(--min-desktop) {
      display: flex;
      justify-content: space-between;
      background-color: $colorWhite;
      border-bottom: 1px solid $colorLightGray;
    }

    .header-top__left-block, .header-top__right-block {
      display: flex;
      line-height: 20px;
      @media(--max-desktop) {
        flex-direction: column;

      }
    }

    .header-top__left-block {
      @media(--max-desktop) {
        font-size: $size-13;
        line-height: 18px;
        order: 2;
      }

      & > span {
        @media(--max-desktop) {
          color: $colorBlue2Opacity2;
          margin-bottom: 6px;
        }
      }

      .telephone-link {
        color: $colorBlue2;
        font-weight: $FontDemi;
      }

      .mail-link {
        color: $colorBlue;
        @media(--max-desktop) {

        }
      }

      & > p + a {
        @media(--max-desktop) {
          margin-top: 18px;
        }
        @media(--min-desktop) {
          margin-left: 16px;
        }
      }

      & > a + a {
        @media(--max-desktop) {
          margin-top: 18px;
        }
        @media(--min-desktop) {
          margin-left: 16px;
        }
      }
    }
  }

  .header-top__right-block {
    @media(--max-desktop) {
      font-weight: $FontRegular;
      font-size: $size-13;
      line-height: 18px;
      order: 1;
      padding: 26px 0;
      margin-bottom: 26px;
      border-bottom: 1px solid $colorLightGray;
      border-top: 1px solid $colorLightGray;
    }

    a + a {
      @media(--max-desktop) {
        margin-top: 22px;
      }
      @media(--min-desktop) {
        margin-left: 24px;
      }
    }


  }
}

.header-search {
  @media(--max-desktop) {
    width: 100%;
    margin-top: 16px;
  }

  .search-form {
    position: relative;
  }

  .search-form-button {
    background-image: url("../img/svg/search-icon.svg");
    min-width: 17px;
    min-height: 17px;
    background-color: initial;
    border: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }


}

#searchInput {
  width: 100%;
  border: 1px solid $colorLightGray;
  border-radius: 4px;
  @media(--max-desktop) {
    padding: 16px 40px 16px 16px;
    background-color: $colorBlueLight;
  }
  @media(--min-desktop) {
    height: 40px;
    width: 35.9vw;
    padding: 12px 40px 12px 16px;
    background-color: $colorWhite;
  }

  &:not(:matches(:valid, :focus)) ~ .search-wrapper {
    display: none;
  }
}


.header-middle {
  display: flex;
  background-color: $colorWhite;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  @media(--max-desktop) {
    flex-wrap: wrap;
    align-items: center;
    padding: 17px 23px 17px 48px;
    width: 100%;
    border-bottom: 1px solid $colorLightGray;
  }
  @media(--min-desktop) {
    align-items: center;
    justify-content: space-between;

  }

  &.isFixed {
    @media(--min-desktop) {
      box-shadow: 0px 3px 6px $colorBlackOpacity;
    }
  }

  .header-logo {
    @media(--max-desktop) {
      order: 1;
    }
  }

  & > .header-cart {
    background-image: url("../img/svg/blue-cart-icon.svg");
    min-width: 24px;
    min-height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    margin-right: 13px;
    @media(--max-desktop) {
      order: 3;


    }
    @media(--min-desktop) {
      background-size: 24px;
      display: flex;
      align-items: center;
    }

    .header-cart-count {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $size-13;
      font-weight: $FontDemi;
      color: $colorWhite;
      background-color: $colorOrange;
      border-radius: 50%;
      min-width: 22px;
      min-height: 18px;
      position: absolute;
      padding: 2px;
      @media(--max-desktop) {
        top: -2px;
        right: -14px;
      }
      @media(--min-desktop) {
        top: -6px;
        left: 17px;
      }

    }

    .header-cart-sum {
      font-weight: $FontDemi;
      @media(--max-desktop) {
        font-size: 0;
      }
      @media(--min-desktop) {
        margin-left: 51px;
        display: flex;
        align-items: center;
      }

      & > span {
        @media(--min-desktop) {
          margin-left: 4px;
          background-image: url("../img/svg/rub-icon.svg");
          background-size: 100%;
          background-repeat: no-repeat;
          display: inline-block;
          width: 7.5px;
          height: 10px;
          font-size: 0;
        }
      }
    }
  }

  .about-user-block {
    @media(--max-desktop) {
      margin-left: auto;
    }

    &[open] {
      @media(--min-desktop) {
        .user-information {
          background-image: url("../img/svg/arrow-gray-up.svg");
        }
      }
    }
  }

  .user-information {
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-weight: $FontRegular;
    font-size: $size-13;
    line-height: 18px;
    z-index: 2;
    @media(max-width:374px){
      margin-right: 10px;
    }
    @media(--max-desktop) {
      background-image: url("../img/svg/user-icon.svg");
      min-width: 32px;
      min-height: 32px;
      font-size: 0;
      padding: 10px;
      border-radius: 50%;
      order: 2;
      margin-left: auto;
      margin-right: 20px;
      background-color: $colorBlueLight;
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
    }
    @media(--min-desktop) {
      width: 236px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 35px 14px 14px;
      background-image: url("../img/svg/arrow-gray-icon.svg");
      background-color: $colorBlueLight;
      border-radius: 4px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: top 50% right 8px;
    }
  }

  .user-information__items {

    background-color: $colorWhite;
    padding: 33px 24px 15px 24px;
    position: absolute;
    @media(--max-desktop) {
      width: 100vw;
      position: absolute;
      left: 0;
      top: 66px;
      border-top: 1px solid $colorLightGray;
      min-height: 100vh;
      height: 100%;
      padding: 24px;
    }

    @media(--min-desktop) {
      max-width: 260px;
      box-shadow: 0px 10px 30px $colorBlueBoxShadow2;
    }

    .balance-blocks {
      font-family: "Open Sans", sans-serif;
      font-weight: $FontDemi;
      border-top: 1px solid $colorLightGray;
      border-bottom: 1px solid $colorLightGray;
      padding: 16px 0;


      @media(max-width: 549px) {
        display: flex;
        flex-direction: column;
      }
      @media(min-width: 550px) and (max-width: 1023px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        grid-gap: 24px;
      }

      & + .exit-button {
        margin-top: 18px;
      }
    }

    .balance__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media(max-width: 549px) {
        & + .balance__block {
          margin-top: 20px;
        }
      }
      @media(min-width: 550px) and (max-width: 1023px) {
        max-width: 320px;
      }
      @media(--min-desktop) {

        & + .balance__block {
          margin-top: 20px;
        }
      }

    }


    .balance__block-title {
      font-size: $size-12;
      line-height: 16px;
      color: $colorBlue2Opacity;
      padding-right: 20px;

    }

    .balance__block-cost {
      font-size: $size-16;
      line-height: 24px;
      color: $colorBlue2;
      min-width: max-content;
    }
  }

  .user-information__items-title {
    grid-column: span 2;
    position: relative;
    @media(--max-desktop) {
      .close-block {
        background-color: $colorBlue;
        background-image: url("../img/svg/close-icon-white.svg");
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: 50%;
        background-position: center;
      }
    }


    & > h6 {
      font-weight: $FontDemi;
      font-size: $size-14;
      line-height: 18px;
      padding-right: 45px;

      & + p {
        margin: 12px 0;
      }
    }
  }

}

.header-bottom {
  @media(--max-desktop) {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  @media(--min-desktop) {
    display: flex;
    background-color: $colorBlue;
    color: $colorWhite;
    font-weight: $FontDemi;
    font-size: $size-16;
    line-height: 18px;

  }
  @media(--desktop) {
    padding: 0 4.5vw;
  }
  @media(--min-big-desktop) {
    padding: 0 7.354vw;
  }

  a {
    @media(--min-desktop) {

    }

  }

  & > .catalog-menu {
    position: relative;
    @media(--max-desktop) {
      margin-top: 16px;

      &:not(.isOpen) > .menu {
        display: none;
      }
    }
    @media(--min-desktop) {
      min-width: 260px;
    }

    &.isOpen {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 53px;
      width: 100vw;
      z-index: 3;
      overflow-y: auto;
      height: 100%;
      padding-bottom: 66px;

      & > button {
        display: flex;
        text-align: left;
        font-size: $size-20;
        font-weight: $FontBold;
        color: $colorBlue2;
        background-color: $colorWhite;

        &::after {
          content: "";
          display: block;
          background-color: $colorBlue;
          background-image: url("../img/svg/close-icon-white.svg");
          width: 32px;
          height: 32px;
          position: absolute;
          top: 16px;
          right: 24px;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-size: 50%;
          background-position: center;
        }


      }
    }


    & > button {
      width: 100%;
      padding: 16px;
      border: none;
      text-align: left;
      @media(--max-desktop) {
        font-weight: $FontDemi;
        color: $colorWhite;
        border-radius: 4px;
        background-color: $colorBlue;
        background-image: url("../img/svg/white-arrow.svg");
        background-repeat: no-repeat;
        background-position: top 50% right 16px;
      }
      @media(--min-desktop) {
        background-color: $colorBlueDark;
        font-size: $size-16;
        line-height: 18px;
        height: 100%;
      }
    }

    .menu {
      font-weight: $FontDemi;
      color: $colorBlue2;
      font-size: $size-14;
      line-height: 18px;
    }

    .menu.level-0 {
      background-color: $colorWhite;

      @media(--min-desktop) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }

      & > .menu-item {
        &[open]:not(.isEmpty) > .menu-item-title {
          background-color: $colorBlueLight3;
          border-left: 2px solid $colorBlue;
        }
      }
    }

    .menu.level-1 {
      .menu-item[open]:not(.isEmpty) > .menu-item-title {
        background-color: $colorBlueLight3;
      }
    }

    .menu-item {
      border-bottom: 1px solid $colorLightGray2;

      &:not(.isEmpty) > .menu-item-title::before {
        content: '';
        display: block;
        width: 8px;
        height: 6px;
        background-image: url(../img/svg/arrow-gray.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 6px;
      }

      &[open]:not(.isEmpty) > .menu-item-title::before {
        transform: rotate(90deg);
      }

    }

    .menu-item-title {
      display: flex;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: calc((var(--currentLevel) + 1) * (8px + 6px));
      padding-right: 16px;
      word-wrap: break-word;

      &:hover, &:focus {
        outline: none;
      }

    }
  }

  & > .header-menu {
    display: flex;
    @media(--max-desktop) {
      background-color: $colorWhite;
      position: fixed;
      left: 0;
      top: 67px;
      height: calc(100vh - 67px);
      width: 100%;
      overflow-y: auto;
      flex-direction: column;
      border-bottom: 1px solid $colorLightGray;
      padding: 33px 24px 40px 24px;
      font-weight: $FontDemi;
      font-size: $size-16;
      line-height: 18px;
      color: $colorBlue2;
      z-index: 2;
    }

    a {
      & + a {
        @media(--max-desktop) {
          margin-top: 22px;
        }
        @media(--min-desktop) {
          margin-left: 25px;
          padding: 15px;
        }
      }
    }
  }
}

.header-top, .header-bottom > .header-menu {
  @media(--max-desktop) {
    display: none;
  }
}

body.isMenuShowing {
  overflow-y: hidden;
  @media(--max-desktop) {
    header {
      background-color: $colorWhite;
      padding: 67px 48px 48px 48px;
      min-height: 100vh;
      height: 100%;
      align-items: center;
      align-content: flex-start;

      .header-top {
        display: flex;
      }

      .show-header-menu {
        background-image: url("../img/svg/close-icon-blue.svg ");
      }

      .header-bottom {
        & > .header-menu {
          display: flex;
        }

        & > .catalog-menu {
          display: none;
        }
      }
    }
  }
}

.accordion-title {
  cursor: pointer;
}

.search-wrapper {
  position: absolute;
  background-color: $colorWhite;
  width: 100%;
  border: 1px solid $colorLightGray;
  border-radius: 4px;
  margin-top: 4px;
  box-shadow: 0 5px 30px $colorBlueBoxShadow2;
  z-index: 4;

  .search-result__item {
    padding: 7px 14px;

    &:hover {
      cursor: pointer;
      background-color: $colorBlueLight;
    }
  }
}