@import 'helpers/postcss-reset/mobile.css';
@import 'helpers/variables.scss';
@import 'helpers/fonts.scss';
@import 'helpers/base.scss';
@import 'helpers/mixins.scss';

@import '../components/forms/index.scss';

.act-page {
  & > main {
    @media(--max-tablet) {
      padding: $margin-1;
    }
  }

  .page-title {

  }

  & .orange-button {
    width: 156px;
  }

}


.get-act__form > .m-accordion__container {
  &.is-hidden .filters__container {
    display: none;
  }

  & > header {
    h6 {
      color: $colorBlue2;
      font-family: 'Montserrat', sans-serif;
      font-weight: $FontBold;
      margin-bottom: 24px;
      background-image: url("../img/svg/arrow-down.svg");
      max-width: 75px;
      background-repeat: no-repeat;
      background-position: right center;
      cursor: pointer;

      @media(--max-tablet) {
        font-size: $size-18;
        line-height: 22px;
      }
      @media(--min-tablet) {
        font-size: $size-22;
        line-height: 28px;
      }
    }

  }


  & > .filters__container {
    display: flex;
    flex-direction: column;
  }

  & + .m-accordion__container {
    margin-top: 40px;
  }

  & + .date__container {
    margin-top: 64px;
  }
  @media(--max-mobile){
    & + .date__container {
      margin-top: 36px;
    }
  }
}


/*----------------- FILTERS: START*/
.m-filter__container {
  //width: auto;

  & > input {
    display: none;

    &:checked + label {
      border-color: $colorBlue;
    }
  }

  & > label {
    border: 1px solid $colorLightGray;
    border-radius: 20px;
    padding: 8px 17px;
    font-family: "Open Sans";
    font-weight: $FontDemi;
    font-size: $size-13;
    line-height: 18px;
    color: $colorBlue;

    &:hover {
      border-color: $colorBlue;
      cursor: pointer;
    }
  }
}

.block-with-filters.asButtons {
  $verticalMargin: 10px;

  display: flex;
  flex-wrap: wrap;
  margin-right: -$verticalMargin;
  margin-bottom: -$verticalMargin;

  & + & {
    margin-top: 36px;
  }

  .m-filter__container {
    margin-right: $verticalMargin;
    margin-bottom: $verticalMargin;

    & > label {
      display: block;
    }
  }
}
/*----------------- FILTERS: END*/


/*----------------- FILTERS: START*/
.date__container {
  display: flex;
  @media(max-width: 374px){
    flex-direction: column;
    margin-bottom: 20px;
  }
  @media(min-width: 375px) {
    flex-wrap: wrap;
    margin-bottom: 36px;
  }
}
/*----------------- FILTERS: END*/

/*----------------- DATEPICKER: START*/
/*.date__container {
  @media(--max-mobile) {
    flex-direction: column;
  }
}*/

.m-datepicker__container {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-weight: $FontDemi;
  font-size: 13px;
  line-height: 20px;
  color: $colorBlue2;

  & > legend {
    margin-right: 10px;

    @media(--max-mobile){
    margin-bottom: 10px;

    }
  }
&+& {
  margin-left: 12px;
  @media (max-width: 374px) {
    margin-left: 0px;
    margin-top: 10px;
  }
}

  @media(--max-mobile){
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

}

.m-datepicker__container .flatpickr-input{
  width: 128px;
  padding: 10px;
  border: 1px solid $colorLightGray;
  border-radius: 4px;
  background-image: url("../img/svg/datepicker.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-color: transparent;
  padding: 10px 5px;
 /* @media (max-width: 374px) {

  }*/

}

/*----------------- DATEPICKER: END*/
