@import 'helpers/postcss-reset/mobile.css';
@import 'helpers/variables.scss';
@import 'helpers/fonts.scss';
@import 'helpers/base.scss';
@import 'helpers/mixins.scss';
@import '../components/header/index.scss';
@import '../components/forms/index.scss';

.act-page {
  & > main {
    @media(--max-tablet) {
      padding: $margin-1;
    }

    @media(min-width: 375px) {
      .m-accordion__container {
        & + .date__container {
          margin-bottom: 36px;
        }
      }
    }

    .date__container {
      @media(max-width: 374px) {

        & + button {
          margin-top: 20px;
        }
      }
    }
  }

  & .orange-button {
    width: 156px;
  }

}


.get-act__form > .m-accordion__container {
  &.is-hidden .filters__container {
    display: none;
  }
  & > header {
    select {
      color: $colorBlue2;
      font-family: 'Montserrat', sans-serif;
      font-weight: $FontBold;
      margin-bottom: 24px;
      background-image: url("../img/svg/arrow-down.svg");
      max-width: 95px;
      background-repeat: no-repeat;
      background-position: right center;
      cursor: pointer;
      border: none;
      @media(--max-tablet) {
        font-size: $size-18;
        line-height: 22px;
      }
      @media(--min-tablet) {
        font-size: $size-22;
        line-height: 28px;
      }
    }

  }

  & > .filters__container {
    display: flex;
    flex-direction: column;
  }

  & + .m-accordion__container {
    margin-top: 40px;
  }

  & + .date__container {
    margin-top: 64px;
  }

  @media(--max-mobile) {
    & + .date__container {
      margin-top: 36px;
    }
  }
}


/*----------------- FILTERS: START*/
.m-filter__container {
  //width: auto;

  & > input {
    display: none;

    &:checked + label {
      border-color: $colorBlue;
    }
  }

  & > label {
    border: 1px solid $colorLightGray;
    border-radius: 20px;
    padding: 8px 17px;
    font-family: "Open Sans";
    font-weight: $FontDemi;
    font-size: $size-13;
    line-height: 18px;
    color: $colorBlue;

    &:hover {
      border-color: $colorBlue;
      cursor: pointer;
    }
  }
}

.block-with-filters.asButtons {
  $verticalMargin: 10px;

  display: flex;
  flex-wrap: wrap;
  margin-right: -$verticalMargin;
  margin-bottom: -$verticalMargin;

  & + & {
    margin-top: 36px;
  }

  .m-filter__container {
    margin-right: $verticalMargin;
    margin-bottom: $verticalMargin;

    & > label {
      display: block;
    }
  }
}

/*----------------- FILTERS: END*/


/*----------------- FILTERS: START*/

/*----------------- FILTERS: END*/


/*----------------- DATEPICKER: END*/
