@import 'helpers/postcss-reset/mobile.css';
@import 'helpers/variables.scss';
@import 'helpers/fonts.scss';
@import 'helpers/base.scss';
@import 'helpers/mixins.scss';
@import '../components/header/index.scss';

.price-page {
  @media (max-width: 599px) {
    .white-button,
    .orange-button {
      margin: 8px auto;
      width: 100%;
      /* max-width: 320px;*/
    }
  }
  @media (--max-tablet) {
    & > main {
      padding: $margin-1;
    }
  }

  @media (--min-tablet) {
    .orange-button {
      margin-right: auto;
    }
    .white-button {
      & + .white-button {
        margin-left: 24px;
      }
    }
  }

  .white-button,
  .orange-button {
    width: auto;
    padding: 20px 24px;
  }
}

/*START ARTICLES CONTAINER*/
.page-content__container-article {
  & > header {
    h5 {
      color: $colorBlue2;
      font-family: 'Montserrat', sans-serif;
      font-weight: $FontBold;
      margin-bottom: 14px;
      background-repeat: no-repeat;
      background-position: right center;

      @media (--max-tablet) {
        font-size: $size-18;
        line-height: 22px;
      }
      @media (--min-tablet) {
        font-size: $size-22;
        line-height: 28px;
      }
    }
    h6 {
      color: $colorBlue2;
      font-family: 'Montserrat', sans-serif;
      font-weight: $FontBold;
      margin-bottom: 24px;
      background-repeat: no-repeat;
      background-position: right center;
      border-bottom: 2px solid $colorBlue;
      padding-bottom: 10px;
      @media (--max-tablet) {
        font-size: $size-14;
        line-height: 18px;
      }
      @media (--min-tablet) {
        font-size: $size-16;
        line-height: 20px;
      }
    }
  }

  & + & {
    margin-top: 15px;
  }

  & + .page-content__container-buttons {
    margin-top: 44px;
  }
}

/*END ARTICLES CONTAINER*/

/*START BUTTONS CONTAINER*/
.page-content__container-buttons {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 599px) {
    flex-direction: column;
  }
  @media (--max-tablet) {
    justify-content: space-between;
  }
}

/*END BUTTONS CONTAINER*/
