@import 'helpers/postcss-reset/mobile.css';
@import 'helpers/variables.scss';
@import 'helpers/fonts.scss';
@import 'helpers/base.scss';
@import 'helpers/mixins.scss';
@import '../components/forms/index.scss';
@import '../components/header/index.scss';

.products-table-page {


  .page-title {
    @media(--max-tablet) {
      padding: 24px 24px 12px 24px;
    }

  }

  .page-content__container {
    @media(--max-tablet) {
      padding-top: 26px;
    }
  }

  .m-table {


    @media(--max-tablet) {
      padding-top: 0;
      padding-right: 0;
      display: block;
      overflow-x: auto;
      margin-right: -24px;
      width: calc(100% + 24px);
    }

    & > thead {
      @media(--max-tablet) {
        th:last-child {
          position: sticky;
          right: 0;
          top: 0;
          background-color: $colorWhite;
          padding: 16px;
          width: 73px;
          height: 100%;
          grid-area: 1 / 6;
        }
      }

    }

    tbody {
      @media(--max-tablet) {
        display: block;
        width: 100%;
      }
    }

    tr {

      td {

        &:first-child {
          @media(--min-tablet) {
            width: 26vw;
          }
        }

        &:nth-child(2) {
          @media(--min-tablet) {
            width: 8.6vw;
          }
        }

        @media(--min-tablet) {
          &:nth-child(3) {
            width: 8vw;
          }
        }

        &:nth-child(4) {
          @media(--min-tablet) {
            width: 8vw;
          }
        }

        &:nth-child(5) {
          @media(--min-tablet) {
            width: 7vw;
          }
        }

        &:last-child {
          @media(--min-tablet) {
            width: 4vw;

          }
        }

        & > .m-counter {
          .m-input__wrapper {
            display: flex;

            button[name="minus"], button[name="plus"] {
              position: absolute;
              right: 0;
              background-image: url("../img/svg/arrow-top-gray.svg");
              background-color: transparent;
              border: none;
              background-repeat: no-repeat;
              background-position: center;
              padding: 10px;
              width: 7px;
              height: 4px;

            }

            button[name="plus"] {
              top: 0;
            }

            button[name="minus"] {
              bottom: 0;
              transform: rotate(180deg);
            }

          }

        }
      }

      .m-counter {
        width: 63%;

        input {
          padding: 9px 17px 8px 8px;
          height: auto;

          &:hover {
            border-color: $colorLightGray;
          }
        }
      }

      .image-td {
        @media(--max-tablet) {
          display: flex;
          align-items: center;
          position: sticky;
          right: 0;
          top: 0;
          grid-area: 1 / 6;
          border-left: 1px solid $colorLightGray;
          background-color: $colorWhite;
          padding: 16px;
        }

        & > div {

          height: 40px;
          cursor: pointer;
          background-image: url("../img/svg/orange-cart-icon.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-color: $colorWhite;
          border: 1px solid $colorOrange;
          border-radius: 4px;
          @media(--max-tablet) {
            width: 40px;
          }
          @media(--min-tablet) {
            width: 56px;
            &:hover {
              background-image: url("../img/svg/white-cart-icon.svg");
              background-color: $colorOrange;

            }
          }

          &:focus {
            outline: none;
          }
        }
      }

      & + .table-footer {
        margin-top: 26px;
      }

    }

    .rub {
      display: inline-block;
      width: 7.5px;
      height: 11px;
    }
  }

  .sort-block {
    font-weight: $FontDemi;
    font-size: $size-13;
    line-height: 20px;
    display: flex;

    .m-filter__container {
      margin: 0 0 0 12px;
      padding: 0;
    }

    & + table {
      margin-top: 37px;
    }
  }

  .m-table {
    & > tbody {
      @media(--max-tablet) {

      }
    }

    tr {
      @media(--max-tablet) {
        display: grid;
        grid-template-columns: 320px 100px 100px 120px 90px;
        grid-gap: 10px;
        width: max-content;
      }
    }


  }
}

