mixin datePicker(data)
    - classes = data.classes || {}
    div.m-datepicker__container(class=classes.container)
        if data.title
            legend #{data.title}
        .m-datepicker__wrapper
            input(name=data.name type=date)
        .m-errors