$inputPaddings: 16px;

.m-input__container,
.m-select__container {
  & + .m-input__container,
  & + .m-select__container {
    margin-top: 16px;
  }
}

.m-input__wrapper > input,
.m-select__container > select {
  font-family: "Open Sans";
  font-weight: $FontDemi;
  height: 56px;
  width: 100%;
  color: $colorBlack;
  border: 1px solid $colorLightGray;
  border-radius: 4px;
  padding: 0 $inputPaddings;
  font-size: $size-14;
  line-height: 19px;
}